.filter-form {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.filter-form__title {
}

.filter-form__section {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.filter-form__section-title {
  color: var(--color-grey-1);
}

.filter-form__section-row {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.filter-form__input {
  padding: 0.45em;
  width: 8em;
}

.filter-form__input:focus-within {
  outline: 2px solid var(--color-primary);
}
